html {
    background: url('../public/fballbackground.jpg') no-repeat center center fixed;
    background-size: cover;  
}


.App {  
    color: rgb(212, 212, 212);
}

body {
    background: url('../public/fballbackground.jpg') no-repeat center center fixed;
    background-size: cover;  
    background-color: rgb(17, 17, 17);
    height: 100vh;
    width: 100vw;
}

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 26px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-bottom: 50px;
    height: 50px;
    background-color: rgb(26, 91, 121);
    font-weight: bolder;
}

#icon {
    position: absolute;
    height: 40px;
    top: 5px;
    left: 5%;
}


form {
    text-align: center;
}

h1 {
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 1px 3px 2px lightgray;
}

label {
    color: white;
    font-weight: bolder;
    text-shadow: 5px 3px 6px darkblue;
}

.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smboard-container {
    display: flex;
    justify-content: center;
}

.smboard-msg {
    display: inline-block;
    justify-content: center;
    padding: 3px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(26, 91, 121);
    background-size: cover;
    border-radius: 5px;
    height: auto;
    width: auto;
    box-shadow: 2px 2px 2px 1px lightslategray;
    font-size: medium;
}


.home-h2 {
    font-style: italic;
    font-weight: lighter;
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 8px, 100% 0, calc(100% - 8px) 100%, 8px calc(100% - 8px));
    line-height: 1.2em;
    padding: 15px;
    animation: rotateText 40s linear infinite alternate-reverse;
}
@keyframes rotateText {
    from {
        transform: ease-in rotate(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.home-h2-border {
    background-color: rgba(0,0,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2vh;
    left: -2vw;
    bottom: 100px;
    width: fit-content;
    transform: rotateY(27deg);
    animation: border-rotate 4s cubic-bezier(.51, -.4, .56, .99);
    animation-iteration-count: infinite;
    animation-delay: 1s;
    box-shadow: 0 0 12px 9px blue;
}
@keyframes border-rotate {
    40% {
        transform: rotateY(27deg)
    }
    to {
        transform: rotateY(207deg);
    }
}


.logo {
    filter: drop-shadow(2px 5px 2px lightgray);
    backface-visibility: visible !important;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from {
        transform: perspective(1000px) ease-in rotate(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.getApi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

.smack-message-owner {
    font-size: x-small;
    text-align: right;
}


.edit-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;

}

.roster {
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
    align-items: center;
}

.team-info {
    font-weight: bolder;
    color: white;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    background-color: rgba(0,0,255,0.5);
    box-Shadow: -5px -5px 25px 5px whitesmoke, 5px 5px 25px 5px blue;
    margin-right: 50px;
}

.profile-logo {
    filter: drop-shadow(1px 2px 0.5px lightgray);
    backface-visibility: visible !important;
    animation: logoShake 1s ease-in infinite;
    transform: translate3d(0, 0, 0);
}
@keyframes logoShake {
    0% { transform: translate(0, 0) rotate(0deg)
    }
    25% { transform: translate(5px, 5px) rotate(5deg) 
    }
    50% { transform: translate(0, 0) rotate(0eg) 
    }
    75% { transform: translate(-5px, 5px) rotate(-5deg) 
    }
    100% { transform: translate(0, 0) rotate(0deg) 
    }
  }

.login-form, .registration-form {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    background-color: rgba(0,0,255,0.5);
    width: 15%
  }

@media screen and (min-width: 300px) {

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(17, 17, 17);
        }


    .smackboard-main {
        color: white;
        height: auto;
        width: auto;
    }
}
